* {
    padding: 0;
    margin: 0;
}

:root {
    --mate_black: #070606;
    --mate_white: #ffffff
}

.darkthemecontainer {
    /* border: 10px solid red; */
    background-color: whitesmoke;
    display: flex;

    position: absolute;
    right: 0;
    top: 3px;
    right: 20px;
    width: 8%;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;

}

.daytheme,
.night {
    width: 50px;
    height: 30px;
}

.clock1 {
    /* border: 1px solid red; */
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    background-color: var(--mate_black);
}

.clock1container {
    /* border: 10px solid rgb(128, 1, 255); */
    display: flex;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.ccc {
    position: relative;
    box-shadow: 4px 0px var(--mate_white);
    width: 50%;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    /* animation: rotatesec;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards; */
    /* transform: rotate(0deg); */

}

@keyframes rotatesec {

    /* 0%{
        transform: rotate(0deg);

    } */
    100% {
        transform: rotate(360deg);
    }
}

.clockOne {
    /* border: 10px solid var(--); */
    /* box-shadow: 2px 3px red; */
    content: " ";
    width: 50%;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* transform:rotate(20deg) */
}

.dot {
    /* content:" "; */
    position: absolute;
    /* color: black; */
    /* width: 10px; */
    height: 10px;
}

.dot h1 {
    /* border: 1px solid green; */
    line-height: 0%;
}

.hourhand {
    bottom: 50%;
    height: 15vh;
    border: 1.5px solid var(--mate_white);
    position: absolute;
    background-color: var(--mate_white);
    transform-origin: 50% bottom;
}

.minutehand {
    bottom: 50%;
    height: 20vh;
    border: 0.7px dashed var(--mate_white);
    position: absolute;
    background-color: white;
    transform-origin: 50% bottom;
}

.secondhand {
    bottom: 50%;
    height: 25vh;
    /* border: 1px solid green; */
    position: absolute;
    transform-origin: 50% bottom;

}

.timeContainer {
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    flex-direction: column;
    /* position: relative; */
    /* margin-left: 25%; */
}
.timeContainerdiv{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* flex-direction: column; */
}
.component1 {
    display: flex;
}

.amPm {
    /* border: 1px solid red; */
    font-size: 0.5rem;
    margin-right: 20px;
    height: 70%;
}

.timegroup {
    /* border: 1px solid green; */
    font-size: 2rem;
    /* letter-spacing: 0.6rem; */
}
.colan{
    margin-left: 10px;
    margin-right: 10px;
}
.time {
    display: flex;
    flex-direction: row;
}
.day{
    display: flex;

    /* border: 10px solid red; */
    /* height: 100%; */
    /* width: 100%; */
}
.digitalDay{
    /* border: 1px solid green; */
    /* display: flex; */
    /* flex-direction: ; */

}
.dateDiv{
    /* border: 1px solid red; */
    display: flex;
    margin-right: 10px;

}

.date,
.month,
.year,
.comma,
.digitalDay{
    /* border: 1px solid red; */
    font-size: 1.3rem;
    
}


.digitalHour,
.digitalMinute,
.colan,
.digitalSecond,
.digitalDay,
.am_pm,
.date,
.month,
.year,
.comma{
    color: var(--mate_white);
}